

<div class="ion-hide-md-down">
    <app-login-desktop></app-login-desktop>
</div>

<div class="ion-hide-lg-up">
    <ion-content fullscreen>
    <nav class="nav-wrapper white black-text">
        <ul class="right">
            <li style="margin-right: 1rem">
               <b> <a style="color: deepskyblue;">Cadastro</a></b>
            </li>
        </ul>
    </nav>
    <app-login-mobile></app-login-mobile>
        <ion-footer>
            <ul class="right">
                <li>
                    <button  class="btn" style="margin-right: 1rem;border-radius: 10px; background-color: #0bb8cc">log in</button>
                </li>
            </ul>
        </ion-footer>
    </ion-content>

</div>
