

<ion-content fullscreen padding>
<div class="" style="margin-top: 3rem"></div>
    <app-funcao-listar-boneco></app-funcao-listar-boneco>
    <!--div class="ion-hide-md-down">
        <app-listar-boneco-desktop></app-listar-boneco-desktop>
    </div>

    <div class="ion-hide-lg-up">
        <app-listar-boneco-mobile></app-listar-boneco-mobile>
    </div-->
    <a class="btn hoverable waves-effect" style="margin-bottom: 10rem;background-color: #054f64" (click)="navigateNewBoneco()">Novo Boneco</a>
</ion-content>