<div class="card celular" style="width: 100%; margin: auto; height: 10000px; background-color: #054f64 ">
  <div class="card-title">

  </div>
  <div class="card-content">
    <div class="center-align">
      <div class="container">
        <div >
          <div class="card white celular" style="height: 30rem;width: 50%; margin: auto;padding-left: 5rem;padding-right: 4rem">
            <div class="card-title">
            </div>
            <div class="card-content">
             <app-funcao-login></app-funcao-login>
            </div>
          </div>
        </div>

        <div style="margin-top: 1rem">
          <a class="white-text" style="cursor: pointer">sobre o app</a>
        </div>
        <!--div class="">
          <a class="btn-floating white" (click)="navigateLogin()"></a>
        </div-->
      </div>
    </div>
  </div>
</div>
