
    <!--<ion-slides *ngFor="let boneco of Bonecos">

        <ion-slide >
            <div class="row ">
                <div  style="margin-top: 0.5rem">
                    <div class="celular card white" style="width: 300px; margin: auto; border-radius: 20px">
                        <div class="card-content celular hoverable" style="background-color: #0bb8cc; width: 100%">



                            &lt;!&ndash;<img class="responsive-img" [src]="boneco.img">&ndash;&gt;
                        </div>
                        <div style="background-color: #0bb8cc;margin-top: 0.5rem" class="card-action">
                            <a class="btn hoverable" style="background-color: #054f64">{{ boneco.name }}</a>
                        </div>
                    </div>
                </div>
               <div class="center-align">
                   <div class="row" style="margin-top: 2rem">
                       <div class="col s6 m6">
                           <a class="btn hoverable" style="background-color: #0bb8cc">Print</a>
                       </div>
                       <div class="col s6 m6">
                           <a class="btn hoverable" style="background-color: #0bb8cc">Edit</a>
                       </div>
                   </div>
               </div>
            </div>
        </ion-slide>
    </ion-slides>-->

    <app-three-d  [stlURL]="stlURL"></app-three-d>


    <!--TODO set lazy loading, how to do https://www.youtube.com/watch?v=h4qrhJFeudA-->
